<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Dive</title>
</head>
<body>
    <h1>Edit Dive</h1>

    <form action="#" th:action="@{/user/edit-dive/{id}(id=${dive.id})}" th:object=${dive} method="post">
        <label for="location">Location:</label>
        <input type="text" id="location" th:field="*{location}" required>

        <br>

        <label for="date">Date:</label>
        <input type="date" id="date" th:field="*{date}" required>

        <br>

        <label for="depth">Depth (meters):</label>
        <input type="number" id="depth" th:field="*{depth}" required>

        <br>

        <label for="duration">Duration (minutes):</label>
        <input type="number" id="duration" th:field="*{duration}" required>

        <br>

        <label for="additionalInfo">Additional Information:</label>
        <textarea id="additionalInfo" th:field="*{additionalInfo}" required></textarea>

        <br>

        <input type="submit" value="Update Dive">
    </form>

    <a th:href="@{/user}">Back to profile</a>

</body>
</html>
