<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>

    <ul>
        <th:block th:each="user : ${users}">
            <li>
                <span th:text="${user.fullName}"></span> - <span th:text="${user.email}"></span>
                <a th:href="@{/admin/delete-user/{id}(id=${user.id})}">Delete</a>
            </li>
        </th:block>
    </ul>

    <br>

    <a th:href="@{/admin}">Back to admin dashboard</a>

</body>
</html>